<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Taoxic SSO</title>
    <meta name="description" content="A sso demo for kefu" />
</head>
<body>
<div>
    <div>
        <h1>SSO登录系统</h1>
    </div>
    <div>
        <form th:action="@{/v1/sso/login}" method="post">
            <div>
                <label>用户名</label>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div>
                <label>密码</label>
                <input type="password" name="password" placeholder="Password">
            </div>
            <button type="submit">登录</button>
        </form>
    </div>
</div>
</body>
</html>
